- var pagetitle = "Forgot Password"
- var pagedesc = "Forgot Password"
- var pagename = "forgot-password"
- var folder = ""

include /includes/header

<!--  ====================  -->
<!--  === Main content ===  -->
<!--  ====================  -->
main( role="main" )
	.container
		.row
			h4.page-header #{pagename}

			form(method='post')
				.form-group
					label Email
					input.form-control
				.form-group
					button.btn.btn-default(type='submit') Forgot Password

include /includes/footer