- var pagetitle = "Tenant User New"
- var pagedesc = "Tenant User New"
- var pagename = "tenant-user-new"
- var folder = ""

include /includes/header

<!--  ====================  -->
<!--  === Main content ===  -->
<!--  ====================  -->
main( role="main" )
	.container
		.row
			h2.page-header #{pagename}

			form(method='post')
				.form-group
					label Clinic
					select.form-control
						option foo clinic
						option apple clinic
						option orange clinic
				.form-group
					label Full Name
					input.form-control
				.form-group
					label Username
					input.form-control
				.form-group
					label Email
					input.form-control
				.form-group
					label Password
					input.form-control
				.form-group
					button.btn.btn-default(type='submit') Update
				
include /includes/footer